[project]
name = "mcp-test"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "flask>=3.1.2",
    "langchain>=1.0.8",
    "numpy>=2.3.5",
    "openai>=2.8.1",
    "requests>=2.32.5",
]
